storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*


**.git
**.gitignore
**.gitattributes
.env.example
.dockerignore


package.json

Dockerfile
docker-compose.yml
README.md
LICENSE
